{
  "server_address": "localhost:8081",
  "base_url": "http://localhost:8081",
  "file_storage_path": "",
  "database_dsn": "host=127.0.0.1 port=5432 user=postgres password=postgres dbname=go_mark sslmode=enable",
  "enable_https": false
}